{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{Title}}
{% endblock title %}
  

{% block content %}

<!-- containts -->
    <div class="container mt-5">
    <!-- cov19 russia -->
      <div class="card text-center">
        <div class="card-header"  id="warna">
          {% for rusCov19 in case2 %}
          <h3>Случаи коронавируса в Российской Федерации</h3> <h5>({{rusCov19.CountryCode}}) <img width ="40px"src="{% static 'russia-flag.png' %}"></h5> 
        </div>
        <div class="card-body">
          
          <h5 class="card-title"> Новое подтверждено :  {{rusCov19.NewConfirmed}} </h5> 
          <h5 class="card-title"> Всего подтверждено :  {{rusCov19.TotalConfirmed}} </h5> 
          <h5 class="card-title"> Новых смертей :  {{rusCov19.NewDeaths}}  </h5>
          <h5 class="card-title"> Всего смертей :  {{rusCov19.TotalDeaths}} </h5> 
          <h5 class="card-title"> Новое Восстановленное :  {{rusCov19.NewRecovered}} </h5> 
          <h5 class="card-title"> Подтверждено новое общее восстановленных :  {{rusCov19.NewTotalRecoveredConfirmed}}  </h5>
          <!-- <h5 class="card-title"> Date :  {{rusCov19.Date}} </h5>  -->
          <p class="card-text"> </p>

          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
        <div class="card-footer text-muted" id="warna">
          источник : https://documenter.getpostman.com/  | Последнее обновление {{update}}
        </div>
        {% endfor %}
      </div>
      <!-- end cov19 russia -->

      <!-- cov19 tomsk -->
      {% for Cov19Tomsk in case3 %}
      <div class="card text-center mt-4">
        <div class="card-header" id="warna2">
          <h3>Случаи коронавируса в Томской области</h3> 
          <h6>({{Cov19Tomsk.isoCode}})<img width ="40px"src="{% static 'tomsk-flag.png' %}"></h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">Зараженный: {{Cov19Tomsk.infected}} </h5>
          <h5 class="card-title">Восстановлен: {{Cov19Tomsk.recovered}}</h5>
          <h5 class="card-title">Умерший : {{Cov19Tomsk.deceased}}</h5>
          <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
          <a href="#region" class="btn btn-outline-primary">see all regions in Russia</a>
        </div>
        <div class="card-footer text-muted" id="warna2">
          источник : https://api.quarantine.country/api/v1/regions  | Последнее обновление {{update}}
        </div>
      </div>
      {% endfor %}
      <!-- end cov19 tomsk -->


      <!-- cov19 allregions -->
      <div id ="region" class="card text-center mt-4">
        <div class="card-header mb-1">
         <h3> CoronaVirus Cases stats in Russian Regions </h3>
        </div>
        <table id ="example"  class="table table-hover table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Region</th>
              <th scope="col">Total Confirmed</th>
              <th scope="col">Total Recovered</th>
              <th scope="col">Total Deaths</th>
            </tr>
          </thead>
          <tbody>
            {% for allRegion in case4 %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td class="text-left">{{allRegion.region}}</td>
              <td>{{allRegion.infected}}</td>
              <td>{{allRegion.recovered}}</td>
              <td>{{allRegion.deceased}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="card-footer text-muted">
          source : https://api.quarantine.country/api/v1/regions  | Last update {{update}}
        </div>
      </div>
      <!-- end cov19 allregions -->
</div>
<!-- end containts -->  
{% endblock content %}