{% extends 'base.html' %}

{% block title %}
  {{Title}}
{% endblock title %}


{% block content %}


  <!-- list do -->
  <!-- 
{% if messages  %}
{% for message in messages %}
<div class="pt-4 alert-warning alert-dismissable" role="alert">
  <button class="close" data-dismiss="alert">
    <small><sup>x</sup></small>
  </button>
  {{message}}

{% endfor %}
{% endif %}
-->
<div class="container pt-5">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">No</th>
            <th scope="col">items</th>
            <th scope="col">completed</th>
          </tr>
        </thead>
        <tbody>
          {% for things in all_items %}

            {% if things.completed %}
                <tr class="table-success">
                  <th scope="row">{{forloop.counter}}</th>
                  <td><s>{{things.item}} </s> </td>
                  <td><a href="{% url 'list:uncross' things.id  %}">сделано</a></td>
                </tr>
              {% else %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td> {{things.item}} </td>
                  <td><a href="{% url 'list:cross_off' things.id  %}">не сделано</a></td>
                </tr>
              {% endif %}

          {% endfor %}
        </tbody>
       
      </table>
      
    </div>
     
<!-- akhir list do -->

{% endblock content %}




